<h1>Edit post</h1>

<% if @post.errors.any? %>
  <h3>The following errors prevented the post from being saved.</h3>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @post, local: true) do |f| %>

  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
